.input{
    border-radius: 15px;
    width: 45vw;
    height: 30px;
}
.inputContainer{
    display:flex;
    justify-content: left;
}
.addButton{
    margin:3px;
    margin-left: -5vw;
    font-weight: bold; 
    align-items: center;
}
.ptags{
    margin-bottom:1vh;
    margin-top: 1vh;
}