.exploreText{
    font-size: 12px;
    overflow-wrap: break-word;
    margin: 0.2vh;
    text-align: left;
    flex-direction: column;
    height:5rem;
    width:5rem;  
    align-items:baseline;
    padding: 43px 0px 0px 2px;
  }
  .exploreCard{
    flex-direction: column;
    justify-content: flex-end;
    height:5rem;
    width:5rem  
  }