
.title{
    color:#254E7B;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 24px;
}
.subTitle{
    color:#254E7B;
    text-align: center;
    margin-top: 35vh;
    font-weight:400;
}

.puzzleContainer{
    position: absolute;
    inset: 0px;
    align-items: center;
     padding: 0px;
      border: none;
       margin: 25vh auto auto auto;
       display: block;
       width: 0px;
       height: 0px;
        min-width: 70vw;
        max-width: 70vw;
         min-height: 70vw;
          max-height: 70vw;
   z-index: 0;
}