:root {
  /* CSS variables for BarChart */
  --color-primary: #254e7b;
  --color-secondary: #85c1e5;
  --font-size-barChart: 12px;
  --bar-height-awful: 23%;
  --bar-height-bad: 41%;
  --bar-height-ok: 59%;
  --bar-height-good: 76%;
  --bar-height-great: 93%;
  --bar1-height: 0%;
  --bar2-height: 0%;
  --bar3-height: 0%;
  --bar4-height: 0%;
  --bar5-height: 0%;
  --bar6-height: 0%;
  --bar7-height: 0%
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: #254e7b;
    background: white;
  }
}


.sdp, .stp {
  --shadow: transparent 0px 0px 0px 0px,transparent 0px 0px 0px 0px,rgba(0,0,0,0) 0px 0px 0px 0px,rgba(0,0,0,0) 0px 0px 0px 0px !important;
  --theme-color: #85C1E5 !important;
}