.container {
  display: flex;
  justify-content: top;
}

.welcomecontainer {
  display: flex;
  justify-content: top;
  background-color: #cbe2ef;
  margin: 1rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: #254e7b;
}

.signuptitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #254e7b;
}

.signuptext1 {
  color: #254e7b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupfooter {
  color: #254e7b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomemain {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin-top: 2rem;
  background: rgb(37, 78, 123);
  background: linear-gradient(
    0deg,
    rgba(37, 78, 123, 1) 30%,
    rgba(203, 226, 239, 1) 50%
  );
  align-items: center;
  margin-top: 1rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  z-index: 1;
  color: #254e7b;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 30px;
  margin-top: 3vh;
  z-index: 1;
  color: #254e7b;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 24px;
}

.title,
.description {
  text-align: center;
}

/*Start of mood questions styling*/
.moodQuestionContainer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px #cbe2ef;
  border-radius: 15px;
  width: 90vw;
  flex-direction: row;
  justify-content: space-evenly;
}

.moodStateContainer {
  padding: 2vh;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moodStateContainerSelected {
  padding: 2vh;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: #cbe2ef;
}

/*Start of main page gratitude styling*/
.gratitudeContainer {
  display: flex;
  background: #cbe2ef;
  border-radius: 15px;
  margin-top: 21px;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
}

.gratitudeBox {
  margin-left: -7vw;
  padding-left: 7px;
  width: 55vw;
}

/*Start of Tab Bar styling*/

.bottomNav {
  width: 100%;
  height: 7.5vh;
  position: fixed;
  bottom: 0;
  border: 1px solid lightgrey;
  border-radius: 8px;
  z-index: 3;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bnTab {
  width: 25%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bnTab span {
  color: #254e7b;
}

.bnTabText {
  height: 20%;
}

/*End of Tab Bar styling*/

.seeAll {
  position: relative;
  margin-top: 15vh;
  margin-bottom: 1vh;
  margin-left: -10vh;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.cloudybackground {
  position: absolute;
  top: 88px;
  z-index: -1;
}

.button {
  border-radius: 15px;
  color: white;
  background-color: #244e7a;
  margin: 5vw;
  width: 90vw;
  height: 63px;
  font-size: 16px;
  z-index: 1;
}

.subtitle {
  margin: 1vh;
  color: #254e7b
}

.activityCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  padding-top: 1vh;
}
.activityText {
  margin-bottom: -5vh;
  z-index: 1;
}

.challenges {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90vw;
  gap: 8px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.spacetoNavBar {
  height: 10vh;
}
.mascotContainer {
  position: absolute;
  top: 8vh;
  left: auto;
  bottom: auto;
  right: 7vw;
}
.displayLogo {
  margin-top: 3vh;
}

/* Explore cards */

.exploreBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1vh;
  width: 90vw;
}
.sleepTips {
  background-image: url("../public/images/Better sleep tips.png");
  background-size: cover;
  height: 7rem;
  width: 7rem;
  border-radius: 10px;
  margin: 1vw;
}
.increaseHappiness {
  background-image: url("../public/images/increase\ happiness.png");
  background-size: cover;
  height: 7rem;
  width: 7rem;
  border-radius: 10px;
  margin: 1vw;
}
.healthyMeals {
  background-image: url("../public/images/quick\ health\ food.png");
  background-size: cover;
  height: 7rem;
  width: 7rem;
  border-radius: 10px;
  margin: 1vw;
}
