.moodLogTitle {
  display: flex;
  justify-content: center;
  color: #254e7b;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.backButton {
  position: absolute;
  top: 4.8%;
  left: 5%;
  height: 30px;
  width: 30px;
}

.moodLogContainer {
  color: #254e7b;
}
