.moodLogTitle {
  display: flex;
  justify-content: center;
  color: #254e7b;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}
/* 
.moodLogTitleContainer {
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: relative;
}*/

.backButton {
  position: absolute;
  top: 4.8%;
  left: 5%;
  height: 30px;
  width: 30px;
}

.barChartContainer {
  max-width: 440px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
Start of BarChart using CSS and html only
}*/
.barChart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barChart1Container {
  position: relative;
  width: 80%;
  border: 1px solid #bbb;
  border-top: none;
  border-right: none;
  margin-top: 2rem;
  z-index: 0;
}

.yAxis {
  position: relative;
  top: 0;
  left: -30px;
  width: 100%;
  z-index: 10;
  list-style-type: none;
  font-size: 12px;
}

.yAxis li {
  position: relative;
  left: -11px;
  height: 2rem;
  border-top: solid 1px rgb(217, 215, 215);
}

.yAxis li::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -30px;
  height: 100%;
  width: 30px;
}

.yAxis li div {
  position: absolute;
  left: -30px;
}

.bar1 {
  width: 0.7rem;
  border-radius: 25px;
  height: 20%;
  background-color: #254e7b;
  position: absolute;
  left: 10%;
  bottom: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
}

.bar1 p {
  position: absolute;
  bottom: -2rem;
  font-size: 12px;
}

.bar2 {
  width: 0.7rem;
  border-radius: 25px;
  height: 40%;
  background-color: #254e7b;
  position: absolute;
  left: 20%;
  bottom: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
}

.bar2 p {
  position: absolute;
  bottom: -2rem;
  font-size: 12px;
}

.bar3 {
  width: 0.7rem;
  border-radius: 25px;
  height: 60%;
  background-color: #254e7b;
  position: absolute;
  left: 30%;
  bottom: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
}

.bar3 p {
  position: absolute;
  bottom: -2rem;
  font-size: 12px;
}

.bar4 {
  width: 0.7rem;
  border-radius: 25px;
  height: 95%;
  background-color: #254e7b;
  position: absolute;
  left: 40%;
  bottom: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
}

.bar4 p {
  position: absolute;
  bottom: -2rem;
  font-size: 12px;
}

.bar5 {
  width: 0.7rem;
  border-radius: 25px;
  height: 80%;
  background-color: #254e7b;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
}

.bar5 p {
  position: absolute;
  bottom: -2rem;
  font-size: 12px;
}

.bar6 {
  width: 0.7rem;
  border-radius: 25px;
  height: 80%;
  background-color: #254e7b;
  position: absolute;
  left: 60%;
  bottom: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
}

.bar6 p {
  position: absolute;
  bottom: -2rem;
  font-size: 12px;
}

.bar7 {
  width: 0.7rem;
  border-radius: 25px;
  height: 80%;
  background-color: #254e7b;
  position: absolute;
  left: 70%;
  bottom: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
}

.bar7 p {
  position: absolute;
  bottom: -2rem;
  font-size: 12px;
}
